<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Nasze demo{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('bundles/tor/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/tor/css/style.css') }}" />
    <script type="text/javascript" src="{{ asset('bundles/tor/js/jquery-1.11.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/tor/js/bootstrap.min.js') }}"></script>
    {% block stylesheets %}{% endblock %}


    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<nav class="navbar navbar-default ">
    <div class="container">

        {{ knp_menu_render('TorBundle:Builder:panelMenu') }}

    </div>

</nav>
{% block body %}{% endblock %}

</body>

</html>