{% extends 'TorBundle:layouts:layout.html.twig' %}

{% block body %}
<table border="1">
    <tr><th>Id</th><th>Nazwa</th><th>User</th><th>Admin</th><th>Zablokuj</th></tr>

    {% for products in product %}
        <tr>
            <td>{{ products.getId }}</td>
            <td>{{ products.getUsername }}</td>

            {% set ROLE_USER = 'nadaj' %}
            {% set ROLE_ADMIN = 'nadaj' %}

            {% for role in products.getRoles() %}

                {% if role == 'ROLE_USER' %}
                    {% set ROLE_USER = 'odbierz' %}

                {% endif %}

                {% if role == 'ROLE_ADMIN' %}
                    {% set ROLE_ADMIN = 'odbierz' %}


                {% endif %}
            {% endfor %}
            <td><a href="{{ path('tor_zmien', { 'id': products.getId, 'action': ROLE_USER, 'role': 'ROLE_USER'}) }}">{{ ROLE_USER }}</a></td>
            <td><a href="{{ path('tor_zmien', { 'id': products.getId, 'action': ROLE_ADMIN, 'role': 'ROLE_ADMIN'}) }}">{{ ROLE_ADMIN }}</a></td>
            {% if products.enabled %}
                <td><a href="{{ path('tor_zablokuj', { 'id': products.getId, 'action': 1 }) }}">zablokuj</a></td>
            {% else %}
                <td><a href="{{ path('tor_zablokuj', { 'id': products.getId, 'action': 0 }) }}">odblokuj</a></td>
            {% endif %}
    {% endfor %}
    </tr>
</table>

{% endblock %}